#IMAG1{
  
    height: 1000px;
    width: 1500px;
    
}
.listes{
    padding-right: 10px;
    font-style: oblique;
    font-size: x-large;
    color: goldenrod;
    font: optional;
    list-style: none;
    border-style: solid;
    border-width: 20px;
    border-color: black;
    margin-right: 500px;
    margin-left: 500px;
    
}

#titre{
    color: goldenrod;
    font-size: 75PX;
    font-style: oblique;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    margin-left: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: goldenrod;
}


#IMG2{
    height: 1000px;
    width: 1000px;
    margin-left: 250px;
}
#kk{
    padding-right: 10px;
    font-style:oblique;
    font-size: 60px;
    color: goldenrod;
    font: optional;
    list-style: none;
    margin-left: 450px;
}
#klem{
    padding-left:400px;
}
#ff{
    padding-right: 10px;
    font-style:italic;
    font-size: xx-large;
    color: goldenrod;
    font: optional;
    list-style: none;
    margin-left: 650px;

}
#pp1{
    font-style: oblique;
    color: grey;

}
#img{
    margin-left: 600px;

}
#found{
    padding-right: 10px;
    font-style:italic;
    font-size: 40px;
    color: goldenrod;
    font: optional;
    list-style: none;
    margin-left: 600px;

}
#parr{
    font-style: oblique;

}
#offf{
    padding-right: 10px;
    font-style:italic;
    font-size: 40px;
    color: goldenrod;
    font: optional;
    list-style: none;
    margin-left: 450px;

}
#thth{
    padding-right: 10px;
    font-style:italic;
    font-size: 40px;
    color: goldenrod;
    font: optional;
    list-style: none;
    margin-left: 500px;


}
#vid{
    margin-left: 500px;
}
#cele{
    font-style: oblique;
    color: grey;
}
#here{

    color: black;
    font-size: small;
    font-style: initial;
}































